header {
    position: sticky;
    background-color: #DAC9B0;
    z-index: 999;
    top: 0px;
    left: 0px;
    height: 50px;
    justify-content: space-between;
}
  
header a {
    color: #4F4A3F;
    padding: 8px 15px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16.3px;
    line-height: 27px;
}

header .logo {
    margin-left: 85px;
}
  
header .general-links {
    margin-right: 75px;
}
  
header .general-links a {
    margin-right: 25px;
}
  
header, header .general-links, header nav, .company-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
header .search a {
    margin-right: 60px;
    color: #185200;
}

header .search img {
    margin-right: 40px;
    height: 17px;
}

header .search .search-underline {
    width: 117px;
    height: 1.5px;
    background-color: #185200;
    align-self: stretch;
    margin-left: 15px;
}

header .basket-account {
    margin-right: 85px;
}