.plants-shop {
  display: flex;
  flex-direction: row;
}

.plants-shop .left {
  z-index: 2;
}

.plants-shop .left {
  z-index: 1;
}

.plants-shop h1 {
  margin: 94px 0 0 0;
  font-size: 160px;
  line-height: 237px;
  color: #557845;
}

.plants-shop h1 b {
  color: #d0bb9c;
}

.plants-shop p {
  font-weight: 200;
  font-size: 25px;
  margin: 0 0 194px 0;
}

.plants-shop .shop-all-plants {
  font-size: 20px;
  color: #F2F1EF;
  padding: 13px 26px 13px 26px;
  background-color: #557845;
}

.plants-shop .sell {
  font-size: 20px;
  color: #557845;
  padding: 13px 30px 13px 30px;
  border: 2px;
  border-color: #557845;
}

.plants-shop .plant-img img {
  width: 800px;
  margin: 100px 0 0 -300px;
}