.top-sales h1 {
  font-size: 100px;
  line-height: 0px;
  color: #557845;
}

.top-sales h1 .sales {
  color: #d0bb9c;
}

.top-sales .carousel-control-prev,
.top-sales .carousel-control-next {
  width: fit-content;
  height: 20%;
  top: 50%;
}

.top-sales .carousel-control-prev:hover,
.top-sales .carousel-control-next:hover {
  background-color: rgba(31, 99, 56, 0.3);
  opacity: 1;
}

.top-sales .carousel-control-prev {
  transform: translateX(-100%);
}

.top-sales .carousel-control-next {
  transform: translateX(100%);
}

.top-sales .col-md-4 {
  margin-top: 120px;
}

.top-sales .article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  background-color: #fff;
  overflow: hidden;
  padding: 24px 31px;
}

.top-sales .article-card .top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-sales .basket-icon img {
  display: flex;
  flex-direction: row;
}

.top-sales .sale {
  font-size: 25px;
  color: #b7a07c;
  margin-left: auto;
}

.top-sales .sale:hover {
  color: rgb(121, 106, 91);
}

.top-sales .image-wrapper {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.top-sales .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.top-sales .article-card .bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 17px 0 0 0;
}

.top-sales .title {
  font-size: 35px;
  font-weight: bold;
  line-height: 26px;
  color: #557845;
  width: 100%;
  margin: 40px 0 0 0;
}

.top-sales .view-more {
  font-size: 28px;
  color: #b5a488;
  text-decoration: underline;
}

.top-sales .view-more:hover {
  color: rgb(121, 106, 91);
}

.top-sales .price {
  font-size: 35px;
  color: #557845;
}
