.top-sales h1 {
  font-size: 100px;
  line-height: 0px;
  color: #557845;
}

.top-sales h1 .sales {
  color: #d0bb9c;
}

.top-sales .carousel-item {
  margin-left: 20px;
}

.top-sales .col-md-4 {
  margin-top: 120px;
}

.top-sales .article-card {
  width: 300px;
  height: 400px;
  background-color: #fff;
  overflow: hidden;
}

.top-sales .basket-icon img {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 10px;
}

.top-sales .sale b {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #B7A07C;
  margin-left: 230px;
  margin-top: -40px;
}

.top-sales .spider-plant img {
  height: 220px;
  margin-left: 40px;
  margin-top: 10px;
}

.top-sales .zz-plant img {
  height: 220px;
  margin-left: 80px;
  margin-top: 15px;
}

.top-sales .haworthia img {
  height: 200px;
  margin-left: 70px;
  margin-top: 30px;
}

.top-sales .title {
  font-size: 23px;
  line-height: 26px;
  color: #557845;
  margin-left: 15px;
  position: absolute;
  margin-top: 40px;
}

.top-sales .view-more {
  font-size: 18px;
  color: #9E9484;
  text-decoration: underline;
  margin-left: 15px;
  margin-top: 72px;
  position: absolute;
}

.top-sales .price {
  font-size: 22px;
  color: #557845;
  margin-left: 210px;
  margin-top: 70px;
  position: absolute;
}